@keyframes horizontal-shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-3px);
	}
	100% {
		transform: translateX(0);
	}
}

.horizontal-shake {
	animation: horizontal-shake 0.5s ease-in-out;
}

@keyframes vertical-shake {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}

.vertical-shake {
	animation: vertical-shake 0.4s ease-in-out;
}

@keyframes appear {
	0% {
		transform: scale(0.8);
	}
	75% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.appear {
	animation: appear 0.8s ease-in-out;
}