.buttons {
	margin-top: 3%;
	width: 100%;

	font-size: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
	
	font-weight: 300;
}

.button {
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;

	cursor: pointer;

	background-color: white;

	border-radius: 30px;
	border-width: 1px;
	border-style: solid;
}

.shuffle {
	border-color: black;
}

.submit {
	border-color: lightgray;
}
.active {
	border-color: black !important;
}
.active:hover {
	background-color: #ededed;
}