@font-face {
	font-family: Karnak;
	src: url(../fonts/karnak-normal-400.woff2);
	font-weight: 400;
}
@font-face {
	font-family: Franklin;
	src: url(../fonts/franklin-normal-300.woff2);
	font-weight: 300;
}
@font-face {
	font-family: Franklin;
	src: url(../fonts/franklin-normal-700.woff2);
	font-weight: 700;
}