.popup{
	position: absolute;
	top: 5%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	border-radius: 10px;
	transform: scale(0.1);

	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

.popup-open{
	visibility: visible;
	transform: scale(1);
	opacity: 100% !important;
}

.warning {
	background: #4e4e4e;
	padding: 10px;
	opacity: 90% !important;

	font-size: 30px;

	text-align: center;
	color: white;

	padding: 30px;
	width: 40%;
}

.results {
	opacity: 0%;

	font-size: 16px;

	background: white;
	color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 30px;
	width: 60%;
}

.instructions-popup {
	opacity: 0%;

	font-size: 16px;

	background: white;
	color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 10px;
	width: 90%;
}

.instructions-popup div {
	margin-top: 5px;
}

.difficulty {
	width: 150px;
	margin-left: 10px;
}

.show-difficulty {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align-last: center;

	border-radius: 10px;
	height: 30px;
	padding: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: red;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

.close:hover {
    color: darkred;
}