.copy {
	margin-top: 20px;
}

.blurred {
	filter: blur(2px)
}
.steps {
	display: flex;
	flex-direction: column;
}

.steps-row {
	display: flex;
	flex-direction: row;

	margin: 5px;
}

.steps-row div {
	width: 50px;
	height: 50px;

	margin-right: 1px;
	margin-left: 1px;

	border-radius: 5px;
}