.title-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

	margin-bottom: 3vw;

	background-color: #ededed;
}

.name {
	font-size: 25px;
	font-weight: 700;
	font-family: Karnak, 'Arial Narrow', Arial, sans-serif;
}

.number, .date {
	margin-left: 10px;
	font-weight: 400;
	font-family: Karnak, 'Arial Narrow', Arial, sans-serif;
}

.navigate-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.navigate {
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}